<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.PaymentDoMapper" >
  <resultMap id="BaseResultMap" type="model.PaymentDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="canceling_amount" property="cancelingAmount" jdbcType="DECIMAL" />
    <result column="canceled_amount" property="canceledAmount" jdbcType="DECIMAL" />
    <result column="origin_id" property="originId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="busi_type" property="busiType" jdbcType="VARCHAR" />
    <result column="busi_order_no" property="busiOrderNo" jdbcType="VARCHAR" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="to_customer_id" property="toCustomerId" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="tran_id" property="tranId" jdbcType="VARCHAR" />
    <result column="ext_field" property="extField" jdbcType="VARCHAR" />
    <result column="external_code" property="externalCode" jdbcType="VARCHAR" />
    <result column="external_message" property="externalMessage" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="route_code" property="routeCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pay_type, currency, amount, canceling_amount, canceled_amount, origin_id, status, 
    busi_type, busi_order_no, request_no, customer_id, to_customer_id, merchant_id, tran_id, 
    ext_field, external_code, external_message, create_time, update_time, complete_time, 
    route_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_jintang_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_jintang_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.PaymentDo" >
    insert into t_jintang_payment (id, pay_type, currency, 
      amount, canceling_amount, canceled_amount, 
      origin_id, status, busi_type, 
      busi_order_no, request_no, customer_id, 
      to_customer_id, merchant_id, tran_id, 
      ext_field, external_code, external_message, 
      create_time, update_time, complete_time, 
      route_code)
    values (#{id,jdbcType=BIGINT}, #{payType,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{cancelingAmount,jdbcType=DECIMAL}, #{canceledAmount,jdbcType=DECIMAL}, 
      #{originId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{busiType,jdbcType=VARCHAR}, 
      #{busiOrderNo,jdbcType=VARCHAR}, #{requestNo,jdbcType=VARCHAR}, #{customerId,jdbcType=VARCHAR}, 
      #{toCustomerId,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, #{tranId,jdbcType=VARCHAR}, 
      #{extField,jdbcType=VARCHAR}, #{externalCode,jdbcType=VARCHAR}, #{externalMessage,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{completeTime,jdbcType=TIMESTAMP}, 
      #{routeCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.PaymentDo" >
    insert into t_jintang_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="cancelingAmount != null" >
        canceling_amount,
      </if>
      <if test="canceledAmount != null" >
        canceled_amount,
      </if>
      <if test="originId != null" >
        origin_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="busiType != null" >
        busi_type,
      </if>
      <if test="busiOrderNo != null" >
        busi_order_no,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="toCustomerId != null" >
        to_customer_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="tranId != null" >
        tran_id,
      </if>
      <if test="extField != null" >
        ext_field,
      </if>
      <if test="externalCode != null" >
        external_code,
      </if>
      <if test="externalMessage != null" >
        external_message,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="routeCode != null" >
        route_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="cancelingAmount != null" >
        #{cancelingAmount,jdbcType=DECIMAL},
      </if>
      <if test="canceledAmount != null" >
        #{canceledAmount,jdbcType=DECIMAL},
      </if>
      <if test="originId != null" >
        #{originId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="busiOrderNo != null" >
        #{busiOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="toCustomerId != null" >
        #{toCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tranId != null" >
        #{tranId,jdbcType=VARCHAR},
      </if>
      <if test="extField != null" >
        #{extField,jdbcType=VARCHAR},
      </if>
      <if test="externalCode != null" >
        #{externalCode,jdbcType=VARCHAR},
      </if>
      <if test="externalMessage != null" >
        #{externalMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        #{routeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.PaymentDo" >
    update t_jintang_payment
    <set >
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="cancelingAmount != null" >
        canceling_amount = #{cancelingAmount,jdbcType=DECIMAL},
      </if>
      <if test="canceledAmount != null" >
        canceled_amount = #{canceledAmount,jdbcType=DECIMAL},
      </if>
      <if test="originId != null" >
        origin_id = #{originId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        busi_type = #{busiType,jdbcType=VARCHAR},
      </if>
      <if test="busiOrderNo != null" >
        busi_order_no = #{busiOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="toCustomerId != null" >
        to_customer_id = #{toCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="tranId != null" >
        tran_id = #{tranId,jdbcType=VARCHAR},
      </if>
      <if test="extField != null" >
        ext_field = #{extField,jdbcType=VARCHAR},
      </if>
      <if test="externalCode != null" >
        external_code = #{externalCode,jdbcType=VARCHAR},
      </if>
      <if test="externalMessage != null" >
        external_message = #{externalMessage,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        route_code = #{routeCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.PaymentDo" >
    update t_jintang_payment
    set pay_type = #{payType,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      canceling_amount = #{cancelingAmount,jdbcType=DECIMAL},
      canceled_amount = #{canceledAmount,jdbcType=DECIMAL},
      origin_id = #{originId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      busi_type = #{busiType,jdbcType=VARCHAR},
      busi_order_no = #{busiOrderNo,jdbcType=VARCHAR},
      request_no = #{requestNo,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      to_customer_id = #{toCustomerId,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=VARCHAR},
      tran_id = #{tranId,jdbcType=VARCHAR},
      ext_field = #{extField,jdbcType=VARCHAR},
      external_code = #{externalCode,jdbcType=VARCHAR},
      external_message = #{externalMessage,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      route_code = #{routeCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>