<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.PaytoolsDoMapper" >
  <resultMap id="BaseResultMap" type="model.PaytoolsDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="payment_id" property="paymentId" jdbcType="BIGINT" />
    <result column="pay_tool" property="payTool" jdbcType="VARCHAR" />
    <result column="pay_tool_name" property="payToolName" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="pay_tool_ext" property="payToolExt" jdbcType="VARCHAR" />
    <result column="ext_field" property="extField" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payment_id, pay_tool, pay_tool_name, amount, currency, pay_tool_ext, ext_field, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_jintang_paytools
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_jintang_paytools
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="model.PaytoolsDo" >
    insert into t_jintang_paytools (id, payment_id, pay_tool, 
      pay_tool_name, amount, currency, 
      pay_tool_ext, ext_field, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{paymentId,jdbcType=BIGINT}, #{payTool,jdbcType=VARCHAR}, 
      #{payToolName,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{currency,jdbcType=VARCHAR}, 
      #{payToolExt,jdbcType=VARCHAR}, #{extField,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="model.PaytoolsDo" >
    insert into t_jintang_paytools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="payTool != null" >
        pay_tool,
      </if>
      <if test="payToolName != null" >
        pay_tool_name,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="payToolExt != null" >
        pay_tool_ext,
      </if>
      <if test="extField != null" >
        ext_field,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=BIGINT},
      </if>
      <if test="payTool != null" >
        #{payTool,jdbcType=VARCHAR},
      </if>
      <if test="payToolName != null" >
        #{payToolName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payToolExt != null" >
        #{payToolExt,jdbcType=VARCHAR},
      </if>
      <if test="extField != null" >
        #{extField,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.PaytoolsDo" >
    update t_jintang_paytools
    <set >
      <if test="paymentId != null" >
        payment_id = #{paymentId,jdbcType=BIGINT},
      </if>
      <if test="payTool != null" >
        pay_tool = #{payTool,jdbcType=VARCHAR},
      </if>
      <if test="payToolName != null" >
        pay_tool_name = #{payToolName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="payToolExt != null" >
        pay_tool_ext = #{payToolExt,jdbcType=VARCHAR},
      </if>
      <if test="extField != null" >
        ext_field = #{extField,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.PaytoolsDo" >
    update t_jintang_paytools
    set payment_id = #{paymentId,jdbcType=BIGINT},
      pay_tool = #{payTool,jdbcType=VARCHAR},
      pay_tool_name = #{payToolName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      currency = #{currency,jdbcType=VARCHAR},
      pay_tool_ext = #{payToolExt,jdbcType=VARCHAR},
      ext_field = #{extField,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>